<div class="page-contents">
	<!-- @TODO:: THIS SHOULD BE A DIRECTIVE -->
	<div class="container">
		<div class="row">
			<div class="user-box">
				
				<div class="col-xs-3 col-sm-3 col-md-3" ng-controller="UserController">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="u in users">
							<span class="label label-{{u.color}}">{{u.name}}</span>
							<span style="cursor:pointer" class="badge" ng-hide="user.id == u.id" ng-click="bootUser(u)">Boot</span>
						</li>
					</ul>
				</div>
				
			</div>
			
			<!-- @TODO:: THIS SHOULD BE A DIRECTIVE -->
			<div class="chat-box">
				<div class="col-xs-8 col-sm-8 col-md-8 " ng-controller="ChatsController">
					<div class="alert " ng-class="setColor(c.user)" ng-repeat="c in chats"><span class="text-left">{{c.text}}</span><span ng-click="remove(c)" class="badge badge-hide">x</span></div>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom" style="margin-bottom:150px;">
</div>
<footer class="footer navbar-fixed-bottom" ng-show="ready" ng-controller="ChatController">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-8">
				<textarea class="form-control" rows="3" ng-model="chat" ng-keyup="createChat($event, 'key')"></textarea>
			</div>
			<div class="col-lg-1">
				<button class="btn btn-success btn-lg" ng-click="createChat($event, 'click')">Chat</button>
			</div>
		</div>
		<div style="padding:10px"></div>
	</div>
</footer>