.page-contents {
	padding-top: 40px;
}

.alert-offline {
	background-color: #ccc;
}

.alert-default {
	background-color: #FFF8E0;
	color: #606860;
}

.alert-primary {
	background-color: #4068E0;
	color: white;

}


.alert {
.badge-hide {
	position: absolute;
	right: 0;
	cursor:pointer;
	display: none;

}

	&:hover {
		border: 1px solid gray; 
		.badge-hide {
			display: block;
		}
	}


}